.hamburger,
.close-nav {
  position: absolute;
  top: 33px;
  right: 24px;
}

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 100;
}

.main {
  display: none;
}

.nav {
  height: 100vh;
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  z-index: -1;
  width: calc(100% / 3 * 2);
  opacity: 0;
  transition: 300ms;

  &__list {
    margin: 120px 0 0 32px;

    li {
      margin-bottom: 32px;

      span {
        font-weight: 700;
      }

      p {
        text-align: left;
      }
    }
  }
}

.nav.active {
  z-index: 1;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .logo {
    left: 39px;
  }

  .hamburger {
    display: none;
  }

  .main {
    display: inline;
  }

  .nav {
    opacity: 1;
    height: 96px;
    width: 450px;
    z-index: 100;

    .close-nav {
      display: none;
    }

    &__list {
      margin: 0;
      @include flex;
      justify-content: space-evenly;
      height: 100%;

      li {
        height: 100%;
        margin: 0;
        position: relative;
        transition: 300ms;
        @include flex;

        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 3px;
          position: absolute;
          top: calc(100% - 3px);
          background-color: $white;
          opacity: 0.5;
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }

        p {
          height: 100%;

          a {
            height: 100%;
            @include flex;
            gap: 1ch;
          }
        }

        span {
          display: none;
        }
      }

      .active::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: $white;
        top: calc(100% - 3px);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    top: 64px;
    left: 55px;
  }

  .nav {
    width: 830px;
    margin-top: 40px;

    &__list li span {
      display: inline;
    }

    &__line {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -443px;
      width: 473px;
      height: 1px;
      background-color: $white;
    }
  }
}
